-if (!loggedIn)
	nav
		ul
			li
				a(href='#login', ng-class='{active:isActive("/login")}') login
			li
				a(href='#register', ng-class='{active:isActive("/register")}') register
-else
	nav
		ul
			li
				a(href='#profile', ng-class='{active:isActive("/profile")}')= user.local.username
			li
				a(href='#logout', ng-class='{active:isActive("/logout")}') logout