nav(ng-show='!user')
	ul
		li
			a(href='#login', ng-class='{active:isActive("/login")}') login
		li
			a(href='#register', ng-class='{active:isActive("/register")}') register

nav(ng-show='user')
	ul
		li
			a(href='#profile/{{user._id}}', ng-class='{active:isActive("/profile/{{user._id}}")}') {{user.local.username}}
		li
			a(ng-click='logout()', ng-class='{active:isActive("/logout")}') logout