form(action='/auth/login', method='POST')
	h1 HELLO,
	label(for='email') dear
	input#username(type='text', name='email', placeholder='redditor', autocomplete='off')

	label(for='password') , your password was
	input#password(type='password', name='password', placeholder='this one', autocomplete='off')

	p
		span right? Let's
		input.good(type='submit', value='rock.')
