form(action='/auth/login', method='POST')
	label(for='email') Hello, dear
	input#username(type='text', name='email', placeholder='redditor')

	label(for='password') , your password was
	input#password(type='password', name='password', placeholder='this simple')

	p
		span right? Let's
		input.good(type='submit', value='rock.')
