form(action='/auth/login' method='post' ng-controller='LoginFormController')
	h1 LOGIN,
	label(for='username') dear
	input#username(ng-model='user.username',type='text', name='username', placeholder='redditor', autocomplete='off')

	label(for='password') , your password was
	input#password(ng-model='user.password', type='password', name='password', placeholder='this one', autocomplete='off')

	p
		span right? Let's
		input.good(type='submit', value='rock.')

if message
	p.error #{message}