form(action='/auth/register', method='POST')
	p
		label(for='email') Username
		input#username(type='text', name='email')
	p
		label(for='password') Password
		input#password(type='password', name='password')
	p
		input(type='submit', value='log in')