.categories{
	> ul{
		.floating-ul();

		> li{
			

			> a{
				display: block;
				padding: 0.25em 0.5em;

				&.active{ border: 1px solid black; }
			}
		}
	}
}

#posts{
	article{
		.clearfix();
		padding: 10px;
		border-top: 1px solid gray;
		&:last-child{ border-bottom: 1px solid gray; }

		section{
			float: left;
			margin-right: 5px;

			.tags > ul{ .floating-ul(); }
			.tags li{
				display: inline-block;
				padding: 2px 5px;
				background-color: gray;
				color: white;
				margin-right: 5px;
			}

			&.textblock h3{ margin: 0 0 5px; }
		}
	}
}