#new-post.panel(data-expandable='addLink')
	.container
		.row
			.col-sm-7.inner
				ul.post-title
					li
						h3 Share link:
					li
						ul.post-type
							li
								a.tag.active(data-group='post-type', href='#') Image
							li
								a.tag(data-group='post-type', href='#') Text
				.row
					.col-sm-8.inner
						.row
							.col-sm-2
								span URL
							.col-sm-10
								input#post-url.gray(type='text')
						.row
							.col-sm-2
								span Title
							.col-sm-10
								input#post-title.gray(type='text')
						.row
							.col-sm-12.text-right
								label(for='post-rules')
									input#post-rules.gray(type='checkbox')
									span I accept the rules
						.row
							.col-sm-12.text-right
								button.submit-post.blue Submit
							.col-sm-4
								img(src='//placehold.it/300', alt='')
			.col-sm-5.inner
				h3 Rules:
				ul.rules
					li No reactiongifs or HIFW posts
					li No posts with their sole purpose being to communicate with another redditor.
					li No posts for the specific point of it being your reddit brithday.
					li
						| Posts which result in harassment of any individual, subreddit, or other entity may be removed at the moderator's discretion.
					li No politics
					li No pictures of just text
					li No DAE posts
					li No reactiongifs or HIFW posts
					li No posts with their sole purpose being to communicate with another redditor.
					li No posts for the specific point of it being your reddit brithday.
					li
						| Posts which result in harassment of any individual, subreddit, or other entity may be removed at the moderator's discretion.
					li No politics
					li No pictures of just text
					li No DAE posts
