footer#footer
	div.inner-footer
		div.container
			p.app-name
				span Reddit 
				span.bold.white Clone

			div.clearfix
				div.description
					span A project for the HSR Rapperswil
					br
					span by 
						span.white Nicole & Philipp

				div.disclaimer
					div.eyes
					span.note.ants We asked no one for permission, sorry.
