div.container.box
	h1 Profile of 
		a(href='#/profile{{userById._id}}'){{userById.local.username}}
	
	div.box
		h2 Posts
			hr
		ul.posts
			li.grid-sizer(packery)
			li(packery ng-repeat='post in posts | filter:query | orderBy:order')
				post
		p.post--blank-slate(ng-show='posts.length==0') {{userById.local.username}} has posted nothing until now.

	div.box
		h2 Comments
			hr
		ul.comments
			li(ng-repeat='comment in comments | orderBy:score')
				comment
		p.comment--blank-slate(ng-show='comments.length==0') {{userById.local.username}} has written no comments until now.