html, body{ height: 100%; }

body{
	font-size: @basefontsize;
	font-family: @roboto;
}

p{ margin: 0; }

img{ max-width: 100%; }

ul{ margin: 0; }


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}

h1, .h1{ 
	font-family: @robotocondensed-regular; 
}

h3, .h3{
	font-size: 1.5em;
	font-family: @robotocondensed-regular;
}