#header{
	.sticky{
		height: 64px;
		background-color: @blue;
		border-bottom: 3px solid @blueDark;
	}
	nav > ul{
		.floating-ul();

		.add{
			line-height: 64px;
			display: block;
			font-size: 20px;
			width: 64px;
			color: white;
			text-decoration: none;
			text-align: center;
			font-family: @robotobold;
			.transition(background 150ms ease);

			&:hover, &:focus{
				background-color: @blueLight;
			}
		}

		h1{
			margin: 0;
			line-height: 64px;
			font-size: 24px;
			font-family: @robotolight;
			font-weight: normal;
			text-transform: uppercase;
			padding: 0 1em;
			color: rgba(255,255,255, 0.5);
		}

		.filters{
			display: table;
			height: 64px;
			margin: 0;
			padding: 0;
			
			li{
				display: table-cell;
				vertical-align: middle;
			}
			.filter{
				font-size: 15px;
				font-family: @robotolight;
				display: block;
				padding: 0.25em 1em;
				color: white;
				text-decoration: none;
				border-radius: 5px;
				.transition(background 150ms);

				&.active{
					background-color: rgba(255,255,255, 0.2);
				}
			}
		}
	}
}