form(novalidate, ng-submit='create()', ng-show='user')
	span Type your 
	textarea(placeholder='comment' id='text', name='text', ng-model='comment.text')
	span and 
	input.good(type='submit', value='submit')
	span  it.