form(novalidate, ng-submit='create(comment)', ng-show='user')
	p Type your 
	textarea(placeholder='comment' id='text', name='text', ng-model='comment.text')
	p
		span and 
		input.good(type='submit', value='submit')
		span  it.