span Scored 
span.white {{comment.score}} 
span points,  
button.upvote(ng-click='upvoteComment()' ng-class='{active: hasUpvoted()}') upvote
span  or 
button.downvote(ng-click='downvoteComment()' ng-class='{active: hasDownvoted()}') downvote

// TODO: Show only when logged in
//button.post--edit(ng-click='postCtrl.edit(post)') edit

span(ng-show='isCommentOwner()')
	span or 
	button.post--delete(ng-click='deleteComment()') delete