doctype html
html(ng-app='reddit')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(title='Reddit Clone')
		
		//=======
		// Styles
		// ======

		link(rel='stylesheet', href='/css/main.min.css')
		

		//===============
		// Header scripts
		// ==============

		script(src='/js/modernizr.js')
		
	body


		//=======
		// Header
		//=======
		include shared/header.jade


		//===============
		// View container
		//===============
		section#main.inner(ng-view)
				

		//=======
		// Footer
		//=======
		include shared/footer.jade
		

		//===============
		// Footer scripts
		// ==============

		// Vendor (cannot be compiled with gulp because of 'require' being used in the script)
		script(src='/js/imagesloaded.pkgd.min.js')
		script(src='/js/packery.pkgd.min.js')
		script(src='https://cdn.socket.io/socket.io-1.0.6.js')

		// Custom
		script(src='/js/main.min.js')