.post--detail-container {
	

	.post {
		display: block;
		background: black;
		padding: 3em 0;

		.post--content {
			position: relative;
			margin: 0 auto;
			
			@media (min-width: 768px) { width: 750px; }
			@media (min-width: 992px) { width: 970px; }
			@media (min-width: 1200px) { width: 1170px; }
		}

		.post--link, .post--shadow { display: none; }

		.post--meta {
			background: none;



			h3 {
				font-size: 2em;
			}
		}
	}
}