.posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  list-style: none;

  margin: 0;
  padding: 5px;

  background-color: @grey--900;

}
.post{
  display: flex;
  flex-direction: column;
  position: relative;

  padding: 1em;
  margin: 5px;
  max-width: 300px;

  background-color: @grey--300;
}

.post--content{
  max-height: 200px;
  margin: -1em -1em 1em -1em;
}

.post--meta{
  .absolute(auto, 0, 0);
}

.post--timing{
  .clearfix();
  padding: 0.25em 1em;
  font-size: 0.825em;
  background-color: @grey--400;
  color: @grey--600;

  .post--time{
    float: left;
  }
  .post--date{
    float: right;
  }
}

.post--controls{
  display: flex;
  justify-content: space-between;

  background-color: @teal--500;
}