.posts{
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 5px;

  background-color: @gray900;

  .post{
    padding: 1em;
    margin: 5px;

    background-color: @gray300;
    transition: width 200ms;

    max-width: 300px;
  }
}