.posts{
  display: flex;
  flex-wrap: wrap;

  list-style: none;

  margin: 0;
  padding: 5px;

  background-color: @grey--900;

}
.post{
  position: relative;
  width: 20%;
  padding-top: 20%;
  @media screen and (max-width: 1199px){
    width: 25%;
    padding-top: 25% * 0.75;
  }
  @media screen and (max-width: 991px){
    width: 100% / 3;
    padding-top: 100% / 3 * 0.75;
  }
  @media screen and (max-width: 767px){
    width: 50%;
    padding-top: 50% * 0.75;
  }
  @media screen and (max-width: 479px){
    width: 100%;
    padding-top: 100% * 0.75;
  }

}
.post > * {
  .absolute(5px);
  background-color: @grey--300;
}
.post--content{
  .absolute(0);
}

.post--content--image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
}

.post--meta{
  background: rgba(0,0,0,0.75);
  .absolute(auto, 0, 0);
  z-index: 2;
  color: white;
  padding: 1em;
}

.post--timing{
  .clearfix();
  padding: 0.25em 1em;
  font-size: 0.825em;
  color: @grey--600;

  .post--time{
    float: left;
  }
  .post--date{
    float: right;
  }
}

.post--controls{
  display: flex;
  justify-content: space-between;
}

.post--blank-slate {
  color: @grey--600;
  margin: 2em 0;
  text-align: center;
}

.post--link {
  .absolute(0);
  z-index: 1;
}