extends ../shared/post-layout

block content

	div(ng-controller='PostController as postCtrl')
		div.container
			form(name='addPost', ng-controller='FormController as formCtrl', ng-submit='formCtrl.submit(postCtrl)')
				h2 New post
				input(type='text', placeholder='Title', ng-model='formCtrl.post.title')
				br
				textarea(placeholder='Text', ng-model='formCtrl.post.text')
				br
				input(type='text', placeholder='Image URL', ng-model='formCtrl.post.image')
				br
				button Add

			h1= title

		ul.posts
			li.post(ng-repeat='post in postCtrl.posts')
				img(ng-src='{{post.image}}')
				h3 {{post.title}}
				p.text {{post.text}}
				p.meta
					span.date {{post.posted | date: 'dd.MM.yyyy hh:mm'}}
					span  - 
					span.username {{post.user.name}}
				div.clearfix
					p {{post.score.upvotes - post.score.downvotes}} ({{post.score.upvotes}} / {{post.score.downvotes}})
					div
						button(ng-click='postCtrl.upvote(post)') +
						button(ng-click='postCtrl.downvote(post)') -
					div
						button edit
						button(ng-click='postCtrl.delete(post)') delete
