extends ../shared/post-layout

block content

	div(ng-controller='PostController as postCtrl')
		div.container
			form(name='addPost', ng-submit='postCtrl.add(post)')
				h2 New post
				input(type='text', placeholder='Title', id='title', ng-model='post.title')
				br
				textarea(placeholder='Text', id='text', ng-model='post.text')
				br
				input(type='text', placeholder='Image URL', id='image' ng-model='post.image')
				br
				button Add

			h1= title
		select(ng-model='order')
			option(value='posted') posted
			option(value='title') title
			option(value='score.upvotes*-1') upvotes

		input(type='text', ng-model='query', placeholder='search', id='filter')

		ul.posts
			li.post(ng-repeat='post in posts | filter:query | orderBy:order')
				img(ng-src='{{post.image}}')
				p.username {{post.user.name}}
				h3 {{post.title}}
				p.text {{post.text}}
				div.timing
					span.time {{post.posted | date: 'hh:mm'}}
					span.date {{post.posted | date: 'dd.MM.yyyy'}}
				div.clearfix
					div {{post.score.upvotes - post.score.downvotes}}
					div.comments-button
						span.comments-count 120
					div
						button(ng-click='postCtrl.upvote(post)') +
						button(ng-click='postCtrl.downvote(post)') -
					div
						button(ng-click='postCtrl.edit(post)') edit
						button(ng-click='postCtrl.delete(post)') delete
