//a(href="#/") Zurück

div.post--detail-container
	post

div(ng-controller='CommentController as comCtrl')
	commentform

	ul.comments
		li(ng-repeat='comment in comments | filter:query | orderBy:order')
			comment
	p.comment--blank-slate(ng-show='comments.length==0') Erfasse den ersten Kommentar!