div.bg-black
	form
		span Add a 
		a.good(href='#/add-link') new link
		span , display 

		select()
			option(value='all' selected) all
			option(value='dev') only dev 
			option(value='img') only image
			option(value='text') only text

		span  posts or 
		input(type='text', ng-model='query', placeholder='search', id='filter')
		span  for a specific post.

div.container
	ul.posts
		li.grid-sizer(packery)
		li(packery ng-repeat='post in posts | filter:query | orderBy:order')
			post

	p.post--blank-slate(ng-show='posts.length==0') Erfasse den ersten Post