article.post

	div.post--content.image(ng-show="post.type=='image'")
		img(ng-src='{{post.url}}')
		//div.post--shadow
		header
			h3.post--title {{post.title}}
			div.author
				include author.jade
			div.meta
				include meta.jade

	div.post--content.text(ng-show='post.type=="text" || type=="textandimage"')
		header
			h3 {{post.title}}
			p.author
				include author.jade
		img.text-image(ng-show='post.type=="textandimage"' ng-src='{{url}}')
		p {{post.text}}

		div.meta
			include meta.jade

	a.post--link(href="#/post/{{post._id}}")