a(href="#/") Zurück

ul.posts
	li.post
		post

div(ng-controller='CommentController as comCtrl')
	commentform

	ul.comments
		li(ng-repeat='comment in comments | filter:query | orderBy:order')
			comment