div(ng-controller='PostController as postCtrl', ng-init='postCtrl.list()')
	select(ng-model='order')
			option(value='posted') posted
			option(value='title') title
			option(value='score.upvotes*-1') upvotes

	input(type='text', ng-model='query', placeholder='search', id='filter')

	ul.posts
		li.post(ng-repeat='post in postCtrl.posts | filter:query | orderBy:order')
			post