#header{

	.sticky{
		.clearfix();
		background-color: @blue;
		border-bottom: 3px solid @blueDark;
	}

	nav{
		float: left;
	}

	#headerRight{
		float: right;
	}

	nav > ul{
		.floating-ul();

		.addLink{
			line-height: 64px;
			display: block;
			font-size: 20px;
			width: 64px;
			color: white;
			text-decoration: none;
			text-align: center;
			font-family: @roboto-bold;
			transition: background 150ms ease;

			&:hover, &:focus, &.active{
				background-color: @blueLight;
			}
		}

		h1{
			margin: 0;
			line-height: 64px;
			font-size: 24px;
			font-weight: normal;
			text-transform: uppercase;
			padding: 0 1em;
			color: rgba(255,255,255, 0.5);
		}

		.filters{
			display: table;
			height: 64px;
			margin: 0;
			padding: 0;
			
			li{
				display: table-cell;
				vertical-align: middle;
			}
			.tag{
				color: white;

				&.active{
					background-color: rgba(255,255,255, 0.2);
				}
			}
		}
	}

	#headerRight {
		padding: 12px;

		.profile {
			padding: 0;

            .login {
              white-space: nowrap;
            }
		}

		.search {
			float: left;
			padding-left: 0;

			input[type="text"]{
				background-color: @blueLight;
				color: white;
				placeholder: fade(white, 50%);
			}
		}
	}

	@media screen and (max-width: @screen-xs-max){

		nav > ul .filters, .search{display:  none;}
	}
}