input, textarea{
	width: 100%;
}

label[for]{

	display: block;
	padding-left: 16px;
	text-indent: -16px;

	input[type="checkbox"], 
	input[type="radio"]{

		top: -1px;
		position: relative;
		width: 13px;
		height: 13px;
		padding: 0;
		margin: 0;
		vertical-align: middle;
	}
}

button{
}

input[type="text"], input[type="password"]{
	padding: 0.25em 0.5em;
	outline: none;

	&.gray{
		background-color: rgba(255,255,255,0.3);
		color: white;

		&:focus{
			border: 3px solid white;
		}
	}
}

input[type="checkbox"], input[type="radio"]{
	border: 3px solid transparent;
	outline: none;

	&.gray{
		background-color: rgba(255,255,255,0.3);
		color: white;
		
		&:focus{
			border: 3px solid white;
		}
	}
}