input:not([type="submit"]), textarea{
	width: 250px;
}

label[for]{
	color: white;
	font-size: 2em;
}

button, input[type="submit"]{
	background: none;
	border: none;
	box-shadow: none;
	border-radius: 0;
	outline: none;
	border-bottom: 2px solid white;

	&.good {
		color: @light-green--500;
		border-bottom-color: @light-green--500;
	}
}

input[type="text"], input[type="password"]{
	display: inline;
	padding: 0;
	outline: none;
	background: none;
	box-shadow: none;
	border: none;
	border-radius: 0;

	font-size: 2em;
	color: white;

	border-bottom: 2px solid white;
	
	transition: border 200ms;

	&:focus {
		border-bottom-color: @teal--500;
	}
}

form {
	max-width: 600px;
	margin-right: auto;
	margin-left: auto;
	line-height: 3.5em;

	p {
		font-size: 2em;
		color: white;
	}
}