html, body { height: 100%; }

body{

	font-size: @basefontsize;
	font-family: @roboto;

	background: darken(@grey--800, 5%);
}

p{
	margin: 0;
}

img{
	max-width: 100%;
}

ul{
	margin-top: 0;
	margin-bottom: 0;
}

hr {
	height: 0;
	border: none;
	border-top: 2px solid @grey--500;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6{
	margin: 0;
	font-weight: normal;
	font-size: 1em;
}

h1, .h1{ 
	font-size: 3em;
	color: white;
}

h2, .h2 {
	font-size: 2em;
	color: white;
}

h3, .h3{
	font-size: 1.5em;
}