extends ../shared/test-layout

block content
	div(ng-controller='StoreController as store')
		div(ng-repeat='product in store.products | orderBy:"-price"')
			div(ng-hide='product.soldOut')
				h1 {{product.name}}
				h2 {{product.price | currency}}
				p {{product.description}}
				button(ng-show='product.canPurchase') Add to Cart
				custom-directive