extends ../shared/test-layout

block content
	h1= title

	p
		span ID: 
		strong= user._id
	p
		span Name: 
		strong= user.username
	p
		span Email: 
		strong= user.useremail
	p
		a(href='/test/list') Back to list